body {
    background: radial-gradient(at top left, rgb(223, 234, 239), rgb(166, 199, 224));
    font-family: 'Helvetica', sans-serif;
    color: rgb(28, 36, 84);
}

header {
    background: rgb(166, 199, 224);
    padding: 0.5em;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2.5em;
    color: rgb(28, 36, 84);
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    color: rgb(28, 36, 84);
    text-align: left;
}

footer {
    background: rgb(166, 199, 224);
    padding: 0.9em;
    font-family: 'Helvetica', sans-serif;
}

.hiking-map {
    width: 600px;
    height: auto;
    border: 5px solid;
    border-color: rgb(166, 199, 224);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5px solid;
    border-color: rgb(166, 199, 224);
    background: rgb(166, 199, 224);
}

.mountain-images {
    width: 350px;
    height: auto;
    border: 5px solid;
    border-color: rgb(166, 199, 224);
}
/* Path: Styles\style.css */

