body {
    background: radial-gradient(at top left, rgb(223, 234, 239), rgb(166, 199, 224));
    font-family: 'Helvetica', sans-serif;
    
}
header {
    background: rgb(166, 199, 224);
    padding: 0.9em;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
}
h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: left;
}
footer {
    background: rgb(166, 199, 224);
    padding: 0.9em;
    font-family: 'Helvetica', sans-serif;
}